
 <!--  </div>
</div>
</div> -->
  
<!-- Text input-->

<!-- <div class="form-group"> -->
  <label class="col-md-4 control-label">Username</label>  
  <!-- <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
  <input  ng-model="user.username" placeholder="Username" class="form-control"  type="text">
  
   <!--  </div>
  </div>
</div> -->
<br>
<br>


<!-- Text input-->

<!-- <div class="form-group"> -->
  <label class="col-md-4 control-label" >Password</label> 
   <!--  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
  <input ng-model="user.password" placeholder="Password" class="form-control"  type="password">
   <!--  </div>
  </div>
</div>
 -->
 <br>
<br>
 
<!-- Text input-->

      <!--  <div class="form-group"> -->
  <label class="col-md-4 control-label">E-Mail</label>  
   <!--  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> -->
  <input ng-model="user.email"placeholder="E-Mail Address" class="form-control"  type="text">
   
  <!--   </div>
  </div>
</div> -->

<br>
<br>

<!-- Text input-->
       
<!-- <div class="form-group"> -->
  <label class="col-md-4 control-label">Contact No.</label>  
   <!--  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span> -->
  <input ng-model="user.phonenumber" placeholder="(Number)" class="form-control" type="text">
   <!--  </div>
  </div>
</div>
 -->
 <br>
<br>
 
<!-- Select Basic -->

<!-- Button -->
<!-- <div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br> -->
   <button type="submit"   ng-click="registerUser()">SUBMIT</button>
<!--   </div>
</div> -->


</div>
    </div>